<h2><%= link_to 'Vizeo©', controller: 'videos' %> > <%= @video.title %></h2>
<hr>
<div class="embed-container">  
  <%= embed(@video.url) %>
</div>  

<p>
  <strong>Description:</strong>
  <%= @video.comment %>
</p>

<p>
	Added: <%= @video.updated_at %>
</p>

<%= link_to 'Back', videos_path %> | 
<%= link_to 'Edit', edit_video_path(@video) %>